page-onboarding {
  position: relative;

  font-family: "MuktaVaani";
  font-weight: 800;

  #slide1 {
    background: #67289D !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #67289D 0%, map-get($colors, bck-pink) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #67289D 0%,map-get($colors, bck-pink) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #67289D 0%,map-get($colors, bck-pink) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  #slide2 {
    background: map-get($colors, bck-pink) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, map-get($colors, bck-pink) 0%, map-get($colors, bck-orange) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, map-get($colors, bck-pink) 0%,map-get($colors, bck-orange) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, map-get($colors, bck-pink) 0%,map-get($colors, bck-orange) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  #slide3 {
    background: map-get($colors, bck-orange) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, map-get($colors, bck-orange) 0%, #F02F3B 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, map-get($colors, bck-orange) 0%,#F02F3B 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, map-get($colors, bck-orange) 0%,#F02F3B 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .scroll-content {
    margin-top: 0 !important;
  }

  .title {
    font-size: 3rem;
    color: map-get($colors, light);
  }


  .card {
    background-color: map-get($colors, light);
    color: map-get($colors, font-bold);
    margin: 20px;
    height: 36rem;
    border-radius: 20px;
    width: 31.5rem;
    max-width: calc(100% - 40px);
    display: inline-block;
    padding: 0 2rem;

    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 300;

    .bold {
      font-weight: 800;
    }

    img {
      margin: 5.2rem 0 2.5rem;
    }

    img.step-one{
      max-width: 11rem;
    }
    img.step-two{
      max-width: 17rem;
    }
    img.step-three{
      max-width: 16rem;
    }
  }

  @media screen and (max-height: 520px) {
    .card {
      height: 30rem;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: map-get($colors, light);
    opacity: 1 !important;
  }

  .swiper-pagination-bullet {
    background: map-get($colors, light);
    opacity: .5;
    width: 12px;
    height: 12px;
  }

  .labels {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    color: map-get($colors, light);
    width: 100%;

    #skip, #next {
      padding: 20px 30px;
      display: inline-block;
      position: absolute;
      bottom: 0;
    }

    #next {
      right: 0;
    }

    .labelsWrapper {
      position: relative;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
  }
}
