<!--
  Generated template for the OnboardingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-slides #slider pager slidesPerView="1" (ionSlideWillChange)="onIonDrag($event)" >
    <ion-slide id="slide1">
      <div class="title">{{ 'ONBOARDING.CREATE_ACCOUNT' | translate }}</div>
      <div class="card">
        <img class="step-one" src="./assets/img/onboarding1.png" alt="">
        <div>{{ 'ONBOARDING.CREATE_ACCOUNT_DESCRIPTION_1' | translate }}</div>
        <div class="bold">{{ 'ONBOARDING.CREATE_ACCOUNT_DESCRIPTION_2' | translate }}</div>
      </div>
    </ion-slide>
    <ion-slide id="slide2">
      <div class="title">{{ 'ONBOARDING.REGISTER_YOUR_PETS' | translate }}</div>
      <div class="card">
        <img class="step-two" src="./assets/img/onboarding2.png" alt="">
        <div>
          {{ 'ONBOARDING.REGISTER_YOUR_PETS_DESCRIPTION_1' | translate }}
          <span class="bold">{{ 'ONBOARDING.REGISTER_YOUR_PETS_DESCRIPTION_2' | translate }}</span>
          {{ 'ONBOARDING.REGISTER_YOUR_PETS_DESCRIPTION_3' | translate }}
        </div>
      </div>
    </ion-slide>
    <ion-slide id="slide3">
      <div class="title">{{ 'ONBOARDING.ENJOY_APP' | translate }}</div>
      <div class="card">
        <img class="step-three" src="./assets/img/onboarding3.png" alt="">
        <div>
          {{ 'ONBOARDING.ENJOY_APP_DESCRIPTION_1' | translate }}
          <span class="bold">{{ 'ONBOARDING.ENJOY_APP_DESCRIPTION_2' | translate }}</span>
          {{ 'ONBOARDING.ENJOY_APP_DESCRIPTION_3' | translate }}
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="labels">
    <div class="labelsWrapper">
      <div id="skip" (click)="skip()">{{ 'ONBOARDING.SKIP' | translate }}</div>
      <div id="next" (click)="next()">{{ 'ONBOARDING.NEXT' | translate }}</div>
    </div>
  </div>
</ion-content>
