<!-- Generated template for the NewsPreviewComponent component -->
<div class="wrapper">
  <div class="image" [style.background-image]="'url(' + image + ')'" style="background-size: cover;" (click)="detalleNews(news);">
    <div class="descriptionContainer">
      <div class="title">{{ news.title.rendered }}</div>
      <div class="date">{{ news.date | date }}</div>
    </div>
  </div>
</div>
