news-preview {

  .wrapper {
    margin: 6px 20px 20px 20px;
  }

  .image {
    width: 100%;
    height: 200px;
    background-position: center;
    position: relative;
  }

  .descriptionContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(61,64,75,0.5);
    padding: 0.6rem 1rem;
    color: map-get($colors, light);
    font-weight: 600;
    width: 100%;
    font-size: 1.7rem;

    .title{
      line-height: 2.2rem;
    }

    .date {
      font-size: 1.1rem;
      margin-bottom: 0rem;
      padding-top: 0.5rem;
      font-weight: 400;
    }
  }
}
