<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content scrollX="false" scrollY="false" scroll="false" class="noscroll">
	<div class="background"></div>
	<div class="overlay"></div>
	<ion-scroll scrollX="false" scrollY="true">
	  <img class="logo" src="assets/img/logo_white.svg" alt="">
	  <div class="welcome">{{ 'LOGIN.WELCOME' | translate }}</div>
	  <div class="description">{{ 'LOGIN.DESCRIPTION' | translate }}</div>
	  <div class="listWrapper" scroll="false">
	    <ion-list>
	      <ion-item>
	        <ion-input type="email" [(ngModel)]="login.email" placeholder="{{ 'LOGIN.EMAIL' | translate }}"></ion-input>
	      </ion-item>
	      <ion-item>
	        <ion-input type="password" [(ngModel)]="login.password" placeholder="{{ 'LOGIN.PASSWORD' | translate }}"></ion-input>
	      </ion-item>
	    </ion-list>
	  </div>
	  <div class="buttonWrapper">
	    <button class="buttonPinkOrange" ion-button round full (click)="next()">{{ 'LOGIN.NEXT' | translate }}</button>
	  </div>
	  <div class="termsAndConditions">
	    {{ 'LOGIN.ACCEPT_TERMS_AND_CONDITIONS_1' | translate }}
	    {{ 'LOGIN.TERMS_OF_USE' | translate }}
	    {{ 'LOGIN.ACCEPT_TERMS_AND_CONDITIONS_2' | translate }}
	    {{ 'LOGIN.PRIVACY_POLICY' | translate }}
	    {{ 'LOGIN.ACCEPT_TERMS_AND_CONDITIONS_3' | translate }}
	  </div>
	  <div class="buttonWrapper">
	    <button class="buttonPinkOrange small signup" ion-button round  (click)="gotoSignup()">{{ 'LOGIN.TO_SIGNUP' | translate }}</button>
	  </div>
	</ion-scroll>
</ion-content>
