page-searching {

  .content {
    background-color: map-get($colors, light);
  }

  .scroll-content {
    padding: 0 !important;
  }

  .tabs {
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tabs button {
    border: 1px solid #FF6100;
    color: #FF6100;
    background-color: #FFF;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    padding: 5px 8px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
  }
  .tabs button.activo {
    background: #E00072 !important;
    background: linear-gradient(135deg, #E00072 0%, #FF6100 100%) !important;
    color: #FFF;
  }
  .swiper-pagination {
    display: none;
  }
  .slidesWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  div.t {
    padding-left: 10px;
    padding-right: 10px;
  }
  .swiper-wrapper {
      max-width: 80px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 12px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .buttonPinkOrange { width: 100%; }

  .rondme {
    color: gray;
    font-size:12px;
    background-color: #FFF;
    border-radius: 15px;
    padding-bottom: 20px;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    1px 0px 10px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         1px 0px 10px 0px rgba(50, 50, 50, 0.4);
  }
  ion-select {
    max-width: 100%;
  }
  .rondme .foto {
    width: 100%;
    height: calc(50vw - 30px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 10px;
    background-position: center;
  }

  .rondme .sub, .rondme .name {
    padding-bottom: 2px !important;
  }

  ion-row {
    margin-botom: 15px;
  }

  .rondme .name { padding-left: 12px; font-weight: bold; }
  .rondme .sub { padding-left: 12px; font-weight: normal; }
  .rondme .sub.location { text-align: right; margin-right: 12px; margin-top: 12px; margin-bottom: -5px;}

  .over {
    position: over;
    width: 100%;
    z-index: 1000;
    background-color: #FFF;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  }
  .over ion-row {
    border-bottom: 1px solid #F0F0F0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .over ion-select, .over ion-input {
    margin-top:0;
    margin-bottom:0;
    padding: 0 !important;
  }

  ion-icon.ion-icon {
    font-family: "Ionicons" !important;
    font-size: 12px;
    margin-right: 2px;
  }


}

