page-owner {
  .toolbar-background {
    background: transparent;
    border-width: 0 !important;
    border-color: transparent !important;
  }

  .header-md::after {
    background: none;
  }

  .scroll-content {
    margin-top: 0 !important;
    background: map-get($colors, bck-grey);
  }

  .mediaSlideContainer {
    position: relative;
  }

  .item-inner { border-bottom: 0 !important; box-shadow: none !important; }

  .text-input[disabled] {
    opacity: 1 !important;
  }

  .welcome {
    position: relative;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 1.5rem;
    color: map-get($colors, font-bold);
    text-transform: uppercase;
    padding-bottom: 0;

    button.options {
      right: 20px;
      top: 12px;
      z-index: 1;
    }
  }

  .name {
    position: relative;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 1.8rem;
    color: map-get($colors, font-bold);
    text-transform: uppercase;
    padding-bottom: 0;

    button.options {
      right: 20px;
      top: 12px;
      z-index: 1;
    }
  }

  .media {
    width: 100%;
    height: 18.4rem;
    background-position: center;
  }

  .back-button-icon-ios {
    font-size: 2.4rem;
  }

  .back-button {
    color: black;
    width: 3.2rem;
    height: 3.2rem;
    background: white;
    border-radius: 100%;
    position: relative;
    left: 10px;
    min-width: 3.2rem;
    padding: 0;
  }

  .back-button-icon-md {
    padding: 0;
  }

  /*.header .toolbar .button-inner {
    color: map-get($colors, font-bold);
  }*/

  .camera {
    border-radius: 50%;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .camera ion-icon {
    font-family: "Ionicons" !important;
    color: white;
    font-size: 25px;
  }

  .swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: .5;
    width: 12px;
    height: 12px;
  }

  .subTitle {
    padding: 20px;
    padding-bottom: 0;
  }

  button.button-round {
    position: absolute;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.5rem 2.3rem;
    height: auto;
    text-transform: initial;
  }

  .buttonWrapper {
    padding: 0 4px;
  }
  .buttonWrapper button {
    background: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: initial;
    margin-top: 20px;
    position: initial;
    width: 100%;
    padding: 1.6rem;
  }
}
