<!--
  Generated template for the LoginCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content scrollX="false" scrollY="false" scroll="false" class="noscroll">
  <div class="background"></div>
  <div class="overlay"></div>
  <ion-scroll scrollX="false" scrollY="true">
    <img class="logo" src="assets/img/logo_white.svg" alt="">
    <div class="welcome" *ngIf="!requestInProgress">{{ 'LOGIN_CODE.FEW_MORE_SECONDS' | translate }}</div>
    <div class="description" *ngIf="!requestInProgress">{{ 'LOGIN_CODE.ENTER_VERIFICATION_CODE' | translate }}</div>
    <div class="welcome" *ngIf="requestInProgress">{{ 'LOGIN_CODE.ONE_STEP' | translate }}</div>
    <div class="description" *ngIf="requestInProgress">{{ 'LOGIN_CODE.WE_ARE_VERIFYING' | translate }}</div>
    <div class="listWrapper" *ngIf="!requestInProgress">
      <ion-list>
        <ion-item>
          <ion-input type="tel" id="e1" maxlength="1" autofocus [(ngModel)]="code.uno" (ngModelChange)="valuechange($event, 1)" #uno></ion-input>
          <ion-input type="tel" id="e2" maxlength="1" [(ngModel)]="code.dos" (ngModelChange)="valuechange($event, 2)" #dos></ion-input>
          <ion-input type="tel" id="e3" maxlength="1" [(ngModel)]="code.tres" (ngModelChange)="valuechange($event, 3)" #tres></ion-input>
          <ion-input type="tel" id="e4" maxlength="1" [(ngModel)]="code.cuatro" (ngModelChange)="valuechange($event, 4)" #cuatro></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div class="buttonWrapper" *ngIf="!requestInProgress">
      <button class="buttonPinkOrange" ion-button round full (click)="accept()">{{ 'LOGIN_CODE.ACCEPT' | translate }}</button>
    </div>
    <div class="buttonWrapper" *ngIf="!requestInProgress">
      <button class="buttonWhite" ion-button round full (click)="goBack()">{{ 'LOGIN_CODE.GO_BACK' | translate }}</button>
    </div>
    <div class="termsAndConditions" *ngIf="!requestInProgress">
      {{ 'LOGIN.ACCEPT_TERMS_AND_CONDITIONS_1' | translate }}
      {{ 'LOGIN.TERMS_OF_USE' | translate }}
      {{ 'LOGIN.ACCEPT_TERMS_AND_CONDITIONS_2' | translate }}
      {{ 'LOGIN.PRIVACY_POLICY' | translate }}
      {{ 'LOGIN.ACCEPT_TERMS_AND_CONDITIONS_3' | translate }}
    </div>
    <div class="spinnerWrapper" *ngIf="requestInProgress">
      <ion-spinner></ion-spinner>
    </div>
  </ion-scroll>
</ion-content>
