page-login-code {

  ion-content > .scroll-content {
    overflow: hidden;
    background-color: #FFFFFF;
    margin-top: 0 !important;
  }
  ion-scroll { 
    height: 100%;
  }
  ion-scroll > .scroll-content {
    margin-top: 0 !important;
    padding: 20px;
  }
  .content {
    position: relative;
    text-align: center;
    color: map-get($colors, light);
    background: transparent;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: url(../assets/img/login.png);
    background-position: center top;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  .overlay {
    opacity: 0.6 !important;
    background-color: map-get($colors, font-bold);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .logo {
    width: 20rem;
    max-width: 100%;
    height: auto;
    margin: 3rem 0;

    @media (max-height: 630px) {
      margin: 1.2rem 0;
    }
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
  }
  .welcome {
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0;

    @media (max-height: 630px) {
      margin: 1rem 0;
    }
  }

  .description {
    font-size: 1.8rem;
    display: inline-block;
    width: 30rem;
    max-width: 100%;
  }

  .termsAndConditions {
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
    width: 31rem;
    margin-top: 2rem;
    max-width: 100%;
  }

  .listWrapper {
    height: calc(100% - 44rem);
    min-height: 16rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-height: 630px) {
      height: calc(100% - 40rem);
      min-height: 11rem;
    }

    .list {
      margin: 0;
      margin-bottom: 4rem;

      @media (max-height: 630px) {
        margin-bottom: 2rem;
      }
    }
  }

  button {
    height: 5rem !important;
  }

  .buttonWhite {
    border: 1px solid map-get($colors, font-pink);
    color: map-get($colors, font-pink);
    background-color: map-get($colors, light);
    margin-top: 2rem;

    &.activated {
      background-color: map-get($colors, font-pink);
      color: map-get($colors, light);
    }
  }

  .spinnerWrapper {
    margin: 5rem 0;

    .spinner-ios-ios line {
      stroke: map-get($colors, light);
    }

    .spinner-md-crescent circle {
      stroke: map-get($colors, light);
    }
  }

  .list-md .item-input.input-has-focus:last-child, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: none !important;
  }

  .text-input {
    text-align: center;
    @include placeholder-color(rgba(255,255,255,0.5));
    
    font-size: 5rem;
    border-bottom-color: map-get($colors, light);
    -webkit-box-shadow: inset 0 -1px 0 0 map-get($colors, light);
    box-shadow: inset 0 -1px 0 0 map-get($colors, light);

    @media (max-height: 630px) {
    
    }
  }

  input {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .item {
    padding-left: 0;
    background-color: transparent;
    color: map-get($colors, light);
    box-shadow: none !important; 

    .item-inner {
      border-bottom-color: rgba(255,255,255,0.5) !important;
    }
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom-color: none !important;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }

  .list-md > .item-block:last-child .item-inner {
    border-bottom-color: none !important;
  }

  .list-ios > .item-block:first-child {
    border-top: 0;
  }
  @media screen and (max-height: 400px) {
    .overlay, .background {
      height: 200%;
    }
  }
}

