<ion-header>
  <ion-navbar>
    <button ion-button icon-only (click)="gotoHome()" class="my-style-for-modal">
      <ion-icon class="ionicons" name="arrow-back"></ion-icon>
    </button>
    <ion-buttons end>
    <button (click)="presentMediaOptionsPopover($event)" class="buttonPinkOrange camera">
      <ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'blurred' : isBlurred}">

  <div *ngIf="loaded">
    <div class="mediaSlideContainer">
        <div class="media" [style.background-image]="'url(' + (me.avatar != '' && me.avatar != null ? me.avatar : 'assets/img/default/avatar.png' ) + ')'" style="background-size: cover;"></div>
    </div>
    <div class="name">
      {{ me.name }}
    </div>
    <div class="welcome">
      Información de mi cuenta
    </div>

    <div class="formContainer">
      <ion-item>
        <ion-label fixed>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="me.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="me.last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Cumpleaños</ion-label>
        <ion-input [readonly]="true" #datepicker type="text" [(ngModel)]="me.birthday"  (click)="openDatepicker()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="text" [(ngModel)]="me.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Nro. Teléfono</ion-label>
        <ion-input type="tel" maxlength="9" [(ngModel)]="me.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="me.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Región</ion-label>
        <ion-select [(ngModel)]="me.region" (ionChange)="refreshDistrito($event)">
          <ion-option *ngFor="let region of regiones" [value]="region.id">{{region.region}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Distrito</ion-label>
        <ion-select [(ngModel)]="me.district">
          <ion-option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.distrito}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Género</ion-label>
        <ion-select [(ngModel)]="me.gender">
          <ion-option value="0">No especificado</ion-option>
          <ion-option value="1">Masculino</ion-option>
          <ion-option value="2">Femenimo</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-label fixed><button (click)="changePassword()" class="buttonPinkOrange" style="top: 7px; left: 124px;" ion-button round>Cambiar</button>
        </ion-label>

      </ion-item>
      <div class="buttonWrapper">
        <button (click)="save()" class="buttonPinkOrange" ion-button round>{{ 'PET.UPDATE_INFO' | translate }}</button>
      </div>
    </div>
  </div>
</ion-content>
