pet-preview {

  .image {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: calc(100% - 20px);
    border-radius: 100%;
    background-position: center;
  }

  .name {
    font-family: "Helvetica";
    font-size: 1.1rem;
    color: #95989A;
  }

}
