<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="icon-menu"></span>
    </button>
    <ion-title>{{ 'APP_MENU.HOME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="subTitle centered">{{ 'HOME.LAST_MEMBERS_OF_OUR_COMMUNITY' | translate }}</div>
  <div class="slidesWrapper">
    <ion-slides pager slidesPerView="4.5">
      <ion-slide *ngFor="let pet of pets" style="width: 80px;">
        <pet-preview [pet]="pet" [isDetail]="false" [isEdit]="false"></pet-preview>
      </ion-slide>
    </ion-slides>
    <div text-center *ngIf="pets.length == 0">
      No hay nuevos integrantes
    </div>
  </div>

  <!-- start Banner -->
  <ins data-revive-zoneid="9" data-revive-id="9d276fa041e1067786e857fe85ab98f9"></ins>
  <!-- end Banner -->

  <div class="subTitle">{{ 'HOME.NEWS' | translate }}</div>
  <news-preview *ngFor="let n of news" [news]="n"></news-preview>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
	<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>


</ion-content>
