page-newsDetalle {


  .toolbar-background {
    background: transparent;
    border-width: 0 !important;
    border-color: transparent !important;
  }

  .header-md::after {
    background: none;
  }

  .scroll-content {
    margin-top: 0 !important;
    background: map-get($colors, bck-grey);
  }

  .content {
    background-color: map-get($colors, light);
  }

  .scroll-content {
    padding: 0 !important;
  }

  .card {
    margin: 10px;
    width: calc(100% - 20px);

    .card-header {
      padding: 1.2rem 1.6rem;
    }
  }

  .centered {
    text-align: center;
  }

  .publicityBanner img {
    max-width: 100%;
    width: 100%;
  }
  .publicityBanner {
    width: 100%;
    /*
    height: 150px;
    background: url(/assets/img/publicity.png);
    background-size: cover;
    background-position: center;
    */
  }

  .swiper-pagination {
    display: none;
  }

  .subTitle {
    padding: 20px;
    padding-bottom: 0;
  }

  .slidesWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .image {
    height: 30vh;
    position: relative;
  }
  /*
  ion-icon {
    background-color: #FFF;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  */
  .titulo {
    background-color: #FFF;
    width: 90%;
    left: 5%;
    margin: auto;
    padding: 15px;
    position: absolute;
    bottom: -40px;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.6rem;
    color: #454545;
  }

  .titulo p{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.6rem;
    color: #454545;
    margin: 0;
  }
  .subtitulo {
    font-size: 12px;
    color: gray;
    font-weight: 200;
  }

  .content-html{
    padding-top: 60px;
  }

  .content-html p {
    text-align: justify;
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;
    color: #636363;
  }



  /* Nav */

  .back-button-icon-ios {
    font-size: 2.4rem;
  }

  .back-button {
    color: black;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 100%;
    position: relative;
    left: 10px;
    min-width: 3rem;
    padding: 0;

  }

  .back-button ion-icon{
    margin-top: -0.5px;
    font-weight: 500;
    font-size: 2.6rem;
  }

  .back-button-icon-md {
    padding: 0;
  }


  .header .toolbar .button-inner {
    color: map-get($colors, font-bold);
  }

  ion-buttons {
    color: black;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 100%;
    min-width: 3rem;
    margin-right: 16px;
  }

  .camera {
    border-radius: 50%;
    padding: 5px;
    padding-left: 0px;
    padding-right: 8px;
    width: 3rem;
    height: 3rem;
  }
  .camera ion-icon {
    font-family: "Ionicons" !important;
    color: black;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
  }
}
