<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button class="camera" (click)="share()">
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="image" [style.background-image]="'url(' + image + ')'" style="background-size: cover;">
    <div class="titulo">
      <p>{{news.title.rendered}}</p>
      <span class="subtitulo"> {{ news.date | date}}</span>
    </div>
  </div>

  <div class="content-html" [innerHtml]="news.content.rendered">

  </div>

</ion-content>
