page-my-pets {

  .content {
    background-color: map-get($colors, light);
  }

  .scroll-content {
    padding: 0 !important;
  }

  .card {
    margin: 10px;
    width: calc(100% - 20px);

    .card-header {
      padding: 1.2rem 1.6rem;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .subTitle {
    padding: 20px 16px;
    padding-bottom: 0;
  }

  .slidesWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .formContainer {
    background: map-get($colors, bck-grey);
  }

  .subTitle.white {
    border-top: 2px solid  map-get($colors, bck-grey);
  }

  .swiper-container {
   padding: 10px;
  }

  .start_qr {
    font-weight: bold;
    text-align: center;
    color: gray;
  }
}

