<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()" class="my-style-for-modal">
        <ion-icon class="ionicons" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <div class="formContainer">
    <ion-item>
      <ion-label fixed>Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="user.currentPass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.newPass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Repetir Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.repeatPass"></ion-input>
    </ion-item>


    <div class="buttonWrapper">
      <button (click)="changePassword()" class="buttonPinkOrange" ion-button round>Cambiar Contraseña</button>
    </div>
  </div>


</ion-content>
