// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*{
  font-family: "MuktaVaani";
}
body {
  font-family: "MuktaVaani";
  color: map-get($colors, font-bold);
}

ng-component.blur {
  filter: blur(10px);
}
.menu-inner {
    background: map-get($colors, bck-pink) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, map-get($colors, bck-pink) 0%, map-get($colors, bck-orange) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, map-get($colors, bck-pink) 0%,map-get($colors, bck-orange) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, map-get($colors, bck-pink) 0%,map-get($colors, bck-orange) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-weight: 400;
    color: map-get($colors, light);

    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    .link {
        font-size: 1.7rem;
        padding: 14px 26px;

        &.selected span{
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: calc(100% + 0.8rem);
                height: 2px;
                bottom: -0.4rem;
                left: -0.4rem;
                // background-color: map-get($colors, light);
            }
        }
    }
}

.profile {
    font-weight: 500;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-top: 6rem;

    .image {
        width: 10rem;
        height: 10rem;
        display: inline-block;
        border-radius: 100%;
        background-position: center;
        margin-left: 0.9rem;
    }

    .name {
        font-size: 2.4rem;
        padding: 0.5rem;
    }

    button {
        font-weight: 500;
        font-size: 1.4rem;
        padding: 0.5rem 2rem;
        height: auto;
        color: map-get($colors, font-pink);
        text-transform: none;
        width: 11.4rem;
    }
}

.toolbar-background, .toolbar-background-ios, .toolbar-background-md {
  background-color: map-get($colors, light);
  border-color: #D6D6D6 !important;
}

.subTitle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
  color: map-get($colors, font-bold);
}
ion-select {
  width: 100%;
  max-width: 55%;
  background-image: url(../assets/img/chevron.png);
  background-position: right;
  background-size: 15px;
  font-size: 12px;
  color: #3D404B;
  padding: 13px 8px !important;
  background-repeat: no-repeat;
}
ion-select .select-icon {
  display: none;
}
.toolbar-title {
  text-align: center;
  font-weight: 800;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.toolbar-title-md {
  padding: 0;
  padding-right: 56px;
}

.formContainer {
  padding: 20px;

  .subTitle {
    padding: 0;
    padding-bottom: 8px;
  }

  ion-input {
    font-size: 1.2rem;
    color: map-get($colors, font-bold);
    font-weight: 500;
  }

  .label {
    width: 101px;
    display: inline-block;
    font-weight: 400;
    color: map-get($colors, font-regular);
    width: 12rem;
    flex: initial;
    font-size: 1.2rem;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .item {
    background: transparent;
    padding: 0;
    border-bottom: 1px solid #D3D3D3;
  }

  .item.item-block .item-inner {
    border-bottom: 1px solid rgba(105,116,124,0.2);
  }

  .item-md.item-input.item-input-has-focus .item-inner, .item-md.input.item-input-has-focus .item-inner {
    box-shadow: inset 0 -1px 0 0 black;
  }

  .description {
    font-size: 1.4rem;
    font-weight: 300;
    color: #878a8c;
    margin-top: 8px;
  }

  .buttonWrapper {
    padding: 0 4px;

    button {
      background: white;
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: initial;
      margin-top: 20px;
      position: initial;
      width: 100%;
      padding: 1.6rem;
    }
  }
}

.buttonPinkOrange {
  background: map-get($colors, bck-pink) !important; /* Old browsers */
  background: -moz-linear-gradient(right, map-get($colors, bck-pink) 0%, map-get($colors, bck-orange) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, map-get($colors, bck-pink) 0%,map-get($colors, bck-orange) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, map-get($colors, bck-pink) 0%,map-get($colors, bck-orange) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+,*/
}
.button2 {
  border: 2px solid map-get($colors, bck-pink);
  color: map-get($colors, bck-pink);
}
.buttonPinkOrange.small{
  height: 2.5rem!important;
}

.toolbar {
  height: 6.2rem;
}

.scroll-content {
  margin-top: 6.2rem !important;
}

.header .toolbar {
  .button-inner {
    font-size: 3rem;
    color: #FF6100;
  }
}

.popover-content {
  background-color: transparent !important;
}
.popover-content ion-list {
  background-color: white;
}
.popover-ios .popover-content {
  width: calc(100% - 40px);
  left: 20px !important;
  box-shadow: none !important;

  .item-ios {
    padding-left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.popover-md .popover-content {
  width: calc(100% - 40px);
  left: 20px !important;
  box-shadow: none !important;
}

.popover-ios .popover-arrow {
  display: none;
}

.popover-content {
  overflow: visible;
}
.back-button-icon:before {
  content: "\74";
}
ion-backdrop {
  opacity: 0.6 !important;
  background-color: map-get($colors, font-bold);
}

.blurred {
  .scroll-content {
    filter: blur(10px);
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}
.md button .button-effect {
  display: none;
}
.petpre .swiper-slide {
  max-width: 80px;
}
.f0 {
  background-color: #F0F0F0;
  min-height: calc(100vh - 200px);
}
.list-md .item-block .item-inner {
  box-shadow: none !important;
  border-bottom: 0px 1important;
}
.list-md .item-input {
  box-shadow: none !important;
  border-bottom: 0px 1important;
}

.sidenav .menu-inner {
  overflow-y: scroll;
}
.content-ios {
  background-color: transparent;
}


.back-button-ios {
  min-height: 3rem !important;
}

.lastView {
  color: #3D404B;
  padding: 20px;
}