<!--
  Generated template for the MyPetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="icon-menu"></span>
    </button>
    <ion-title>{{ 'APP_MENU.VETERINARY_CLINICS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="overcard">
    <ion-label> <ion-icon (click)="clearBuscar()" name="close"></ion-icon></ion-label>
    <ion-item>
      <ion-input (keyup)=moveTo(buscar) [(ngModel)]="buscar" type="text" placeholder="Buscar..."></ion-input>
    </ion-item>
  </ion-card>
  
  <div class="search_result" *ngIf="buscando.length > 0">
    <ion-scroll>
    <ul>
      <li *ngFor="let b of buscando" (click)="gotoPlace(b)"><img src="assets/img/chevron.png" />&nbsp;&nbsp;{{b.description}}</li>
    </ul>
    </ion-scroll>
  </div>

  <div class="findme" (click)="gotome()">
    <img src="assets/img/findme.png" />
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="12" [zoomControl]="false" [streetViewControl]="false" (onMapLoad)='loadAPIWrapper($event)'>
    <agm-marker *ngFor="let pos of list" (markerClick)="mapclick(pos)" [iconUrl]="pos.icon" [latitude]="pos.lat" [longitude]="pos.lng">
    </agm-marker>
  </agm-map>
  <!--
  <agm-map *ngFor="let pos of list" [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="15" [zoomControl]="false" [streetViewControl]="false" (onMapLoad)='loadAPIWrapper($event)'>
    <agm-marker (markerClick)="mapclick(pos)" [iconUrl]="pos.icon" [latitude]="pos.lat" [longitude]="pos.lng">
    </agm-marker>
  </agm-map>
  -->
  <div class="info_vet" *ngIf="verDetalle">

    <div class="buttonWrapper">
      <button class="buttonPinkOrange" (click)="vermas(activo)" ion-button round>Más información</button>
    </div>

    <div class="close" (click)="close()">
      <span class="icon-cerrar"></span>
    </div>

    <div class="box">
      <b>{{activo.name}}</b>
      <br />
      <small>{{activo.description}}</small>
    </div>
  </div>
</ion-content>

