page-pet {
  .toolbar-background {
    background: transparent;
    border-width: 0 !important;
    border-color: transparent !important;
  }

  .header-md::after {
    background: none;
  }

  .scroll-content {
    margin-top: 0 !important;
    background: map-get($colors, bck-grey);
  }

  .mediaSlideContainer {
    position: relative;
  }

  .name {
    position: relative;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 1.6rem;
    color: map-get($colors, font-bold);
    text-transform: uppercase;
    padding-bottom: 0;

    button.options {
      right: 20px;
      top: 12px;
      z-index: 1;
    }
  }

  .media {
    width: 100%;
    height: 18.4rem;
    background-position: center;
  }

  .back-button-icon-ios {
    font-size: 2.4rem;
  }

  .back-button {
    color: black;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 100%;
    position: relative;
    left: 10px;
    min-width: 3rem;
    padding: 0;
  }

  .back-button ion-icon{
    margin-top: -0.5px;
    font-weight: 500;
    font-size: 2.6rem;
  }

  .back-button-icon-md {
    padding: 0;
  }

  .header .toolbar .button-inner {
    color: map-get($colors, font-bold);
  }

  .camera {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  .camera ion-icon {
    font-family: "Ionicons" !important;
    color: white;
    font-size: 25px;
  }

  .swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: .5;
    width: 12px;
    height: 12px;
  }

  .subTitle {
    padding: 20px;
    padding-bottom: 0;
  }

  button.button-round {
    position: absolute;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.5rem 2.3rem;
    height: auto;
    text-transform: initial;
  }
  agm-map {
    height: 120px;
    width: 100%;
  }
  .buttonWhiting {
    background-color: white;
    padding: 15px !important;
    color: #FD0A34;
    border: 2px solid #FD0A34;
    border-radius: 15px;
    font-weight: bold !important;
    width: calc(100% - 40px);
  }
}
