pet-info-form {
	.item-inner { border-bottom: 0 !important; box-shadow: none !important; }

	.text-input[disabled] {
		opacity: 1 !important;
	}

	ion-select {
		padding-left: 0px !important;
	}
	.text-input {
		margin-left: 0px !important;
	}
}
