<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content scrollX="false" scrollY="false" scroll="false" class="noscroll">
  <div class="background"></div>
  <div class="overlay"></div>
  <ion-scroll scrollX="false" scrollY="true">
    <img class="back-arrow" src="assets/img/back.png" alt="" (click)="gotoLogin()">
    <img class="logo" src="assets/img/logo_white.svg" alt="">
    <div class="welcome">{{ 'SIGNUP.WELCOME' | translate }}</div>
    <div class="description">{{ 'SIGNUP.ENTER_PHONE_NUMBER_TO_BEGIN' | translate }}</div>
    <div class="listWrapper">
      <ion-list>
        <ion-item>
          <ion-input type="text" [(ngModel)]="login.name" placeholder="{{ 'SIGNUP.NAME' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" [(ngModel)]="login.email" placeholder="{{ 'SIGNUP.EMAIL' | translate }}"></ion-input>
        </ion-item>
        <ion-item class="peruflag">
          <ion-label> <img src="assets/img/peru.png" style="opacity: 0.8;" /></ion-label>
          <ion-input type="tel" maxlength="9" [(ngModel)]="login.phone" placeholder="{{ 'SIGNUP.PHONE' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="login.password" placeholder="{{ 'SIGNUP.PASSWORD' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="login.repassword" placeholder="{{ 'SIGNUP.REPASSWORD' | translate }}"></ion-input>
        </ion-item>

      </ion-list>
    </div>
    <div class="buttonWrapper">
      <button class="buttonPinkOrange" ion-button round full (click)="next()">{{ 'SIGNUP.NEXT' | translate }}</button>
    </div>
    <div class="termsAndConditions">
      {{ 'SIGNUP.ACCEPT_TERMS_AND_CONDITIONS_1' | translate }}
      {{ 'SIGNUP.TERMS_OF_USE' | translate }}
      {{ 'SIGNUP.ACCEPT_TERMS_AND_CONDITIONS_2' | translate }}
      {{ 'SIGNUP.PRIVACY_POLICY' | translate }}
      {{ 'SIGNUP.ACCEPT_TERMS_AND_CONDITIONS_3' | translate }}
    </div>

    <div class="buttonWrapper">
      <button class="buttonPinkOrange small login" ion-button round  (click)="gotoLogin()">{{ 'SIGNUP.TO_LOGIN' | translate }}</button>
    </div>
  </ion-scroll>
</ion-content>
