page-signup {

  ion-content > .scroll-content {
    overflow: hidden;
    margin-top: 0 !important;
    background-color: #FFFFFF;
  }
  ion-scroll { 
    height: 100%;
  }
  ion-scroll > .scroll-content {
    padding: 20px;
    margin-top: 0 !important;
  }
  .content {
    position: relative;
    text-align: center;
    color: map-get($colors, light);
    background: transparent;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: url(../assets/img/login.png);
    background-position: center top;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  .overlay {
    opacity: 0.6 !important;
    background-color: map-get($colors, font-bold);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  .logo {
    width: 20rem;
    max-width: 100%;
    height: auto;
    margin: 3rem 0;

    @media (max-height: 630px) {
      margin: 1.2rem 0;
    }
  }

  .welcome {
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0;

    @media (max-height: 630px) {
      margin: 1rem 0;
    }
  }

  .description {
    font-size: 1.8rem;
    display: inline-block;
    width: 24rem;
    max-width: 100%;
  }

  .peruflag input {
    padding-left: 0;
    margin-left: 0 !important;
  }
  .termsAndConditions {
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
    width: 31rem;
    margin-top: 2rem;
    max-width: 100%;
  }

  .listWrapper {
    height: calc(100% - 37rem);
    min-height: 23rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-height: 630px) {
      height: calc(100% - 31rem);
      min-height: 32rem;
    }

    .list {
      margin: 0;
      margin-bottom: 4rem;

      @media (max-height: 630px) {
        margin-bottom: 2rem;
      }
    }
  }

  button {
    height: 5rem !important;
  }

  .item {
    padding-left: 0;
    background-color: transparent;
    color: map-get($colors, light);

    .item-inner {
      border-bottom-color: rgba(255,255,255,0.5) !important;
    }
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom-color: rgba(255,255,255,0.5) !important;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }

  .list-md > .item-block:last-child .item-inner {
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }

  .list-ios > .item-block:first-child {
    border-top: 0;
  }

  .list-md .item-input.input-has-focus:last-child, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: map-get($colors, light);
    -webkit-box-shadow: inset 0 -1px 0 0 map-get($colors, light);
    box-shadow: inset 0 -1px 0 0 map-get($colors, light);
  }

  .text-input-ios {
    padding-left: 10px;
  }

  .text-input {
    @include placeholder-color(rgba(255,255,255,0.5));
    margin: 1rem 8px 1.1rem 0;

    @media (max-height: 630px) {
      margin: 2rem 8px 1.1rem 0;
    }
  }

  @media screen and (max-height: 470px) {
  	.overlay, .background {
  		height: 200%;
  	}
  }
}


.back-arrow{
  position: absolute;
  width: 20px;
  height: auto;
  top: 1rem;
  left: 1rem;
}


button.login{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2.2rem;
}
